.App {
  text-align: center;
}

body{
  background-color: #ffffba;
  color: #61dafb;
  
}

.logo{
  padding: 1REM;
  height: 250PX;
  width: 250PX;
}

.whole{
  padding: 2rem;
  padding-top: 10px;
}

.textbox-1{
  height: 50px;
  width: 300px;
  font-size: medium;
  padding-right: 10px;
}


.textbox{
  height: 50px;
  width: 300px;
  font-size: medium;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffc7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(70, 21, 21);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
