.iphone-pro-max {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.iphone-pro-max .div {
    background-color: #ffffff;
    border: 1px none;
    height: 932px;
    position: relative;
    width: 430px;
}

.iphone-pro-max .ellipse {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000080;
    border-radius: 26px/25.5px;
    height: 51px;
    left: 345px;
    position: absolute;
    top: 40px;
    width: 52px;
}

.iphone-pro-max .text-wrapper {
    color: #552b18;
    font-family: "Ubuntu-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 60px;
    width: 208px;
}

.iphone-pro-max .text-wrapper-2 {
    color: #9a9a9a;
    font-family: "Ubuntu-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 39px;
    white-space: nowrap;
    width: 165px;
}

.iphone-pro-max .group {
    height: 93px;
    left: 45px;
    position: absolute;
    top: 123px;
    width: 83px;
}

.iphone-pro-max .overlap-group {
    background-color: #ffffff;
    border: 0.5px solid;
    border-color: #552b18;
    border-radius: 10px;
    height: 93px;
    position: relative;
    width: 79px;
}

.iphone-pro-max .text-wrapper-3 {
    color: #552b18;
    font-family: "Tiro Devanagari Hindi-Italic", Helvetica;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    height: 39px;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 44px;
}

.iphone-pro-max .text-wrapper-4 {
    color: #552b18;
    font-family: "Ubuntu-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 38px;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 46px;
    width: 31px;
}

.iphone-pro-max .overlap-wrapper {
    height: 93px;
    left: 175px;
    position: absolute;
    top: 124px;
    width: 81px;
}

.iphone-pro-max .upload-svgrepo-com {
    height: 34px;
    left: 18px;
    position: absolute;
    top: 14px;
    width: 43px;
}

.iphone-pro-max .upload-file {
    color: #552b18;
    font-family: "Ubuntu-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 38px;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 50px;
}

.iphone-pro-max .overlap-group-wrapper {
    height: 93px;
    left: 305px;
    position: absolute;
    top: 123px;
    width: 81px;
}

.iphone-pro-max .text-svgrepo-com {
    height: 37px;
    left: 18px;
    position: absolute;
    top: 14px;
    width: 43px;
}

.iphone-pro-max .text-selection {
    color: #552b18;
    font-family: "Ubuntu-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 38px;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 52px;
    width: 58px;
}

.iphone-pro-max .overlap {
    background-image: url(./rectangle-3.svg);
    background-size: 100% 100%;
    height: 64px;
    left: 0;
    position: absolute;
    top: 868px;
    width: 430px;
}

.iphone-pro-max .img {
    height: 47px;
    left: 190px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 78px;
}

.iphone-pro-max .group-2 {
    height: 43px;
    left: 63px;
    position: absolute;
    top: 10px;
    width: 43px;
}

.iphone-pro-max .home-svgrepo-com {
    height: 28px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 28px;
}

.iphone-pro-max .text-wrapper-5 {
    color: #552b18;
    font-family: "Ubuntu-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 29px;
    white-space: nowrap;
    width: 41px;
}

.iphone-pro-max .div-wrapper {
    height: 45px;
    left: 340px;
    position: absolute;
    top: 6px;
    width: 43px;
}

.iphone-pro-max .overlap-2 {
    height: 45px;
    position: relative;
    width: 41px;
}

.iphone-pro-max .profile-svgrepo-com {
    height: 35px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 33px;
}

.iphone-pro-max .text-wrapper-6 {
    color: #552b18;
    font-family: "Ubuntu-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 31px;
    white-space: nowrap;
    width: 41px;
}

.iphone-pro-max .overlap-3 {
    background-color: #ececec;
    border-radius: 10px;
    height: 182px;
    left: 45px;
    position: absolute;
    top: 322px;
    width: 339px;
}

.iphone-pro-max .text-wrapper-7 {
    color: #9a9a9a;
    font-family: "Ubuntu-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 158px;
    width: 65px;
}

.iphone-pro-max .copy-svgrepo-com {
    height: 25px;
    left: 304px;
    position: absolute;
    top: 9px;
    width: 25px;
}

.iphone-pro-max .overlap-4 {
    background-color: #ececec;
    border-radius: 10px;
    height: 182px;
    left: 45px;
    position: absolute;
    top: 617px;
    width: 339px;
}

.iphone-pro-max .arrow-up-a-z-svgrepo {
    height: 66px;
    left: 187px;
    position: absolute;
    top: 529px;
    width: 55px;
}

.iphone-pro-max .overlap-5 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 35px;
    left: 45px;
    position: absolute;
    top: 257px;
    width: 142px;
}

.iphone-pro-max .text-wrapper-8 {
    color: #1e1e1e;
    font-family: "Ubuntu-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
}

.iphone-pro-max .overlap-6 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 35px;
    left: 240px;
    position: absolute;
    top: 257px;
    width: 142px;
}

.iphone-pro-max .text-wrapper-9 {
    color: #1e1e1e;
    font-family: "Ubuntu-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
}
